[submodule "frontend"]
	path = frontend
	url = https://github.com/kyamadev/switchbot-controller-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/kyamadev/Switchbot-controller-api